<!DOCTYPE html>
<html>
<head>
  <title>The Booking Oasis</title>
  <%= stylesheet_link_tag 'stile/styles', media: 'all' %>
</head>
<body>

<header>
  The Booking Oasis
</header>

<main>
  <%= form_with(model: room, url: room.persisted? ? admin_room_path(room) : admin_rooms_path, local: true, class: 'form-container') do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :area %>
      <%= form.number_field :area %>
    </div>

    <div>
      <%= form.label :balcony %>
      <%= form.check_box :balcony %>
    </div>

    <div>
      <%= form.label :tv %>
      <%= form.check_box :tv %>
    </div>

    <div>
      <%= form.label :air_conditioner %>
      <%= form.check_box :air_conditioner %>
    </div>

    <div>
      <%= form.submit 'Save' %>
    </div>
  <% end %>
</main>

<footer>
  Created by "Team 5"
</footer>

</body>
</html>
