<!DOCTYPE html>
<html>
<head>
  <title>The Booking Oasis</title>
  <%= stylesheet_link_tag 'stile/styles', media: 'all' %>
</head>
<body>

<header>
  The Booking Oasis
</header>

<main>
  <h1>New Booking</h1>

  <%= form_with(model: @booking, url: room_bookings_path(@room), local: true) do |form| %>
    <div class="form-field">
      <%= form.label :check_in_date %>
      <%= form.date_field :check_in_date %>
    </div>

    <div class="form-field">
      <%= form.label :check_out_date %>
      <%= form.date_field :check_out_date %>
    </div>

    <div class="form-actions">
      <%= form.submit 'Book', class: 'button' %>
      <%= link_to 'Back', room_path(@room), class: 'button' %>
    </div>
  <% end %>
</main>

<footer>
  Created by "Team 5"
</footer>

</body>
</html>
