<h1>New Booking</h1>

<%= form_with(model: @booking, url: room_bookings_path(@room), local: true) do |form| %>
  <%= form.label :check_in_date %>
  <%= form.date_field :check_in_date %>

  <%= form.label :check_out_date %>
  <%= form.date_field :check_out_date %>

  <%= form.submit 'Book' %>
<% end %>

<%= link_to 'Back', room_path(@room) %>